/*css reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;}

ol,ul {
    list-style:none;
}

blockquote,q{
    quotes:none;
}

blockquote:after,blockquote:before,q:after,q:before{
    content:'';
    content:none;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

body {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0E3043;
}

.masterhead h1 {
    color: white;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 3.4rem;
    margin: 30px auto 0 auto;
}

.masterhead h2 {
    color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    font-size: 1.65rem;
    margin-bottom: 40px;
}
.wrapper {
    max-width: 45rem;
    text-align: center;
    margin: auto;
}

.icons i {
    color: white;
    font-size: 2rem;
    margin: 10px;
}

.icons {
    margin-top: 40px;
}

#display-data {
    color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    font-size: 1.3rem;
    
}
#user-input {
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
}
button {
    background-color: #2E9EDC;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.3rem;
}

.error {
    color: white;
    font-family: 'Raleway', sans-serif;
    
}
/*Mobile view*/

